<section class="phx-hero">
  <h2><%= gettext "Welcome to %{name}!", name: "SolverView" %></h2>
</section>

<section class="row">
  <article class="column">
    <h4>SolverView Examples</h4>
    <ul>
      <li><%= link "Sudoku", to: "/sudoku" %></li>
      <li><%= link "VRP (Vehicle Routing problem)", to: "/vrp" %></li>
      <li><%= link "Basic MiniZinc IDE", to: "/ide" %></li>
    </ul>
  </article>
</section>
